* {
  font-family: Roboto, sans-serif;
}

main {
  max-width: 800px;
  margin: 0 auto;
}

body {
  text-align: center;
  background-image: linear-gradient(to right, #ebebeb, #c0c0c0);
}

header {
  padding: 1rem;
}

h1 {
  letter-spacing: 5px;
  text-transform: uppercase;
  padding-top: 1rem;
}

h2 {
  letter-spacing: 3px;
  text-transform: uppercase;
}

p {
  line-height: 1.6;
  font-size: 1.1rem;
}

a:hover {
  text-decoration: underline;
  color: #ff6700;
}

a {
  text-decoration: none;
  color: #004e98;
}

.box {
  background-color: white;
  margin-bottom: 2rem;
  padding: 1rem;
  box-shadow: 5px 10px #ff6700;
}

img {
  border-radius: 50%;
  max-width: 100%;
  box-shadow: 5px 10px #ff6700;
}

.img-container {
  margin-bottom: 2rem;
}

.list {
  display: inline-block;
  text-align: left;
}

.flex-container {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
}

footer {
  text-transform: lowercase;
  letter-spacing: -1px;
  text-decoration: underline overline;
}
